<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhamento Frentes Estratégicas</title>
    <script src="app.js"></script>
  </head>

  <body>
    <div class="header">
      <header>
        <a href="#" class="abrir-menu" onclick="abrirMenu()">&#9776;</a>
        <img src="img/profile.png" class="imgprofile" />
        <img src="img/Engrenagem.svg" class="imgsettings" />
      </header>
    </div>

    <div>
      <nav id="menu">
        <ul>
          <li>
            <a href="home"><img src="../imagens/iconemenus.svg"/>Home</a>
          </li>
          <li>
            <a href="ciclo"
              ><img src="../imagens/iconemenus.svg" />Ciclos</a
            >
          </li>
          <li>
            <a href="unidade-negocio"
              ><img src="../imagens/iconemenus.svg" />Unidade de Negócio</a
            >
          </li>
          <li>
            <a href="frente-estrategica"
              ><img src="../imagens/iconemenus.svg" />Frente Estratégica</a
            >
          </li>
          <li>
            <a href="detalhamento-frente-estrategica"
              ><img src="../imagens/iconemenus.svg" />Detalhamento Frentes
              Estratégicas</a
            >
          </li>
        </ul>
      </nav>

      <main id="conteudo">
        <div id="leftconteiner" class="left-conteiner">
          <h2>Busca</h2>
          <br />
          <div>
            <div>
              <input type="text" placeholder="Busca" class="box-busca-ciclo" />
            </div>
            <div>
              <button class="botao-busca">Buscar</button>
            </div>
          </div>

          <table>
            <tr>
              <th>BU</th>
              <th>Frente</th>
              <th>Nome da Meta</th>
              <th>Peso</th>
              <th>Meta</th>
            </tr>
            <tr>
              <td>CROSS</td>
            </tr>
            <tr>
              <td>FINTECH</td>
            </tr>
            <tr>
              <td>FOOD DELIVERY</td>
            </tr>
            <tr>
              <td>MERCADO</td>
            </tr>
          </table>
        </div>

        <div id="rightconteiner" class="right-conteiner">
          <h2>Detalhamento de Frente Estratégica</h2>
          <br />
          <div>
            <form>
              <div class="right-first-line">
                <select name="BU" id="BU" class="select">
                  <option value="ativo">BU</option>
                  <option value="inativo">Inativo</option>
                </select>

                <select name="Frente" id="Frente" class="select">
                  <option value="ativo">Frente</option>
                  <option value="inativo">Inativo</option>
                </select>

                <!-- <label for="nome">Nome</label> -->
                <input
                  type="text"
                  placeholder="Resultado da Chave"
                  class="box"
                  id="nome"
                />

                <!-- <label for="nome">Nome</label> -->
                <input
                  type="text"
                  placeholder="Peso"
                  class="box-inicio"
                  id="Peso"
                />

                <select name="Polaridade" id="Polaridade" class="select">
                  <option value="ativo">Polaridade</option>
                  <option value="inativo">Inativo</option>
                </select>

                <select name="Medida" id="Medida" class="select-final">
                  <option value="ativo">Medida</option>
                  <option value="inativo">Inativo</option>
                </select>
              </div>

              <textarea
                placeholder="Detalhamento"
                id="area-detalhamento"
                class="textarea"
                rows="5"
                cols="35"
              ></textarea>
              <textarea
                placeholder="Memória de Cálculo"
                id="area-memoria"
                class="textarea"
                rows="5"
                cols="35"
              ></textarea>
              <div class="right-second-line"></div>
              <div class="btn-ciclo">
                <input type="submit" value="Salvar" class="salvar" />
                <input type="submit" value="Novo" class="novo" />
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
