<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="app.js"></script>
  </head>

  <body>
    <div class="header">
      <header>
        <a href="#" class="abrir-menu">&#9776;</a>
        <img src="img/profile.png" class="imgprofile" />
        <img src="img/Engrenagem.svg" class="imgsettings" />
      </header>
    </div>

    <div id="lista-menu">
      <nav id="menu">
        <ul>
          <li>
            <a href="home"><img src="../imagens/iconemenus.svg"/>Home</a>
          </li>
          <li>
            <a href="ciclo"
              ><img src="../imagens/iconemenus.svg" />Ciclos</a
            >
          </li>
          <li>
            <a href="unidade-negocio"
              ><img src="../imagens/iconemenus.svg" />Unidade de Negócio</a
            >
          </li>
          <li>
            <a href="frente-estrategica"
              ><img src="../imagens/iconemenus.svg" />Frente Estratégica</a
            >
          </li>
          <li>
            <a href="detalhamento-frente-estrategica"
              ><img src="../imagens/iconemenus.svg" />Detalhamento Frentes
              Estratégicas</a
            >
          </li>
        </ul>

      </nav>
    </div>

    <main id="conteudo"></main>

    <footer>
      <p class="footer-text">SBM TECHNOLOGY - 2022</p>
    </footer>
  </body>
</html>
